body {
    color: rgb(255, 255, 255);
    background-color: rgb(37, 55, 156);
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    list-style-type:none;
    align-items: center;
    padding: 10px;
}
a  {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
